extends layout

block content
  h1 Users
  ul
    each subscriber, i in subscribers
        li
          a(href="/subscriber/#{subscriber.id}") #{subscriber.email}

  a(href='/signup') Signup        
